#about {
  display: flow-root;
}
.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  row-gap: 2.5rem;
}

.about .introduction {
  margin: unset;
}

.experience-index th,
td {
  padding-right: 15px;
}
.experience-index th {
  font-size: var(--h3-font-size);
  color: var(--title-color);
}
.experience-index td {
  font-size: var(--small-font-size);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .about {
    align-items: flex-start;
    row-gap: 3rem;
  }
  .about .introduction {
    text-align: left;
  }
}
